body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #424242;
  color: #fff;
}
@media (max-width: 430px) {
  body {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background-color: #000;
  padding: 12px 32px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 430px) {
  .header__container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.header__logo {
  margin-left: 59px;
  height: 48px;
}
@media (max-width: 430px) {
  .header__logo {
    height: 30px;
  }
}

.search__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.search {
  border: 1px solid #f6c700;
  border-radius: 8px;
  display: flex;
  padding: 2px 4px;
  align-items: center;
  background: #000;
  align-items: center;
  justify-content: center;
}
.search__input {
  color: #fff;
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  line-height: 1.1876em;
  background-color: #000;
  border: none;
}
.search__input::placeholder {
  font: inherit;
  font-family: "Comic Neue", cursive;
  color: #aaa;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.search__input:focus {
  outline: none;
}
.search__btn {
  background: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.search__icon {
  fill: #fff;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
@media (max-width: 1024px) {
  .search {
    width: 300px;
  }
}
@media (max-width: 430px) {
  .search {
    width: 90%;
    font-size: 0.9rem;
  }
  .search__icon {
    width: 18px;
    height: 18px;
  }
}

.movie {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.movie__grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 1024px) {
  .movie {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 430px) {
  .movie {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
.movie__card {
  position: relative;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  min-height: 350px;
}
.movie__card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 1;
}
.movie__card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.movie__poster {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.movie__title, .movie__footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  z-index: 2;
}
.movie__title {
  bottom: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
.movie__footer {
  bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
}
.movie__footer .movie__year {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-style: italic;
  color: #fff;
}
.movie__footer .movie__year svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.movie__footer .movie__fav {
  background: none;
  border: none;
  cursor: pointer;
}
.movie__footer .movie__fav svg {
  fill: #fff;
  width: 22px;
  height: 22px;
  transition: fill 0.3s ease;
}
.movie__no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Comic Neue", cursive;
}
.movie__skeleton {
  background: #333;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  min-height: 350px;
}
.movie__skeleton-poster {
  background: #555;
  border-radius: 4px;
  width: 100%;
  height: 300px;
}
.movie__skeleton-title {
  background: #666;
  border-radius: 4px;
  width: 70%;
  height: 20px;
}
.movie__skeleton-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.movie__skeleton-footer span,
.movie__skeleton-footer button {
  background: #666;
  height: 20px;
  width: 40px;
  border-radius: 4px;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.main {
  margin: auto;
  padding: 1rem;
  padding-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  flex-basis: 100%;
}
@media (max-width: 430px) {
  .main .main {
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
