@use "variables" as *;
@use "mixins" as *;

body {
  font-family: $font-main;
  margin: 0;
  background: $color-brown;
  color: $color-white;

  @include respond(mobile) {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  display: block;
}
