@use "../variables" as *;
@use "../mixins" as *;

.header {
  background-color: $color-black;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;

    @include respond(mobile) {
      /*flex-direction: column;*/
      gap: 0.5rem;
    }
  }

  &__logo {
    margin-left: 59px;
    height: 48px;

    @include respond(mobile) {
      align-items: center;
    }
  }
}
