@use "../variables" as *;
@use "../mixins" as *;

.header {
  background-color: $color-black;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding-top: 8px;
  padding-bottom: 8px;
  /* padding: 0.5rem 2rem; */
  /* position: sticky; */
  /*top: 0;*/
  /*position: sticky;*/
  /*padding-top: 8px;
  padding-bottom: 8px;*/

  &__container {
    display: flex;
    align-items: center;
    width: 100%;

    @include respond(mobile) {
      /*flex-direction: column;*/
      gap: 0.5rem;
      justify-content: center;
    }
  }

  &__logo {
    margin-left: 59px;
    height: 48px;

    @include respond(mobile) {
      margin-left: 0;
      margin-right: 0;
      display: block;
      padding-left: 0;
      margin: 0 auto;
    }
  }
}
