@use "../variables" as *;
@use "../mixins" as *;

.movie {
  padding: 2rem;
  display: flex;
  justify-content: center;

  &__grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  @include respond(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }

  &__card {
    position: relative;
    border-radius: 8px;
    color: $color-white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    min-height: 350px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
      z-index: 1;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      z-index: 3;
    }
  }

  &__poster {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  &__title,
  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    z-index: 2;
  }

  &__title {
    bottom: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: $color-white;
  }

  &__footer {
    bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: $color-white;

    .movie__year {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-style: italic;
      color: $color-white;

      svg {
        fill: $color-white;
        width: 20px;
        height: 20px;
      }
    }

    .movie__fav {
      background: none;
      border: none;
      cursor: pointer;

      svg {
        fill: $color-white;
        width: 22px;
        height: 22px;
        transition: fill 0.3s ease;
      }
    }
  }

  &__no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-family: "Comic Neue", cursive;
  }

  &__skeleton {
    background: #333;
    border-radius: 8px;
    animation: pulse 1.5s infinite ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    min-height: 350px;

    &-poster {
      background: #555;
      border-radius: 4px;
      width: 100%;
      height: 300px;
    }

    &-title {
      background: #666;
      border-radius: 4px;
      width: 70%;
      height: 20px;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;

      span,
      button {
        background: #666;
        height: 20px;
        width: 40px;
        border-radius: 4px;
      }
    }

    &__no-result {
      display: none;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
